body {
    display: flex;
    min-width: 800px;
    justify-content: center;
}

#all {
    flex: 0 0 100%;
    background-image: url('./res/img/todoImg.jpeg');
    background-size: cover;
    border: 1px solid #cccccc;
    text-align: center;
}

main {
    position: relative;
}

#first {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

#todoInput {
    flex: 0 0 60%;
    font-size: 1rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding-left: 3rem;
    box-shadow: 0em 0.5rem 1rem #888888;
    background: rgba(179, 177, 177, 0.808) url('./res/img/new.png') no-repeat;
    background-position: 0.5rem center;
    background-size: 2rem;
}

#todoInput::placeholder {
    color: rgba(0, 0, 0, 0.692);
}

#finishDate {
    flex: 1 0 0;
    border-radius: 0.5rem;
}

#addButton {
    flex: 0 0 5%;
    height: 2rem;
    min-width: 2rem;
    align-self: center;
    background: rgba(179, 177, 177, 0.808) url('./res/img/add.png') no-repeat center center;
    background-size: 1.5rem 1.5rem;
    border-radius: 2rem;
}

#prompt {
    position: absolute;
    top: -1.5em;
}

#completeSelect {
    margin: 1em 0;
}

#title,
.contentWrap {
    width: 100%;
    border-radius: 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgba(207, 206, 206, 0.6);
}

#title {
    background-color: rgba(207, 206, 206, 0.9);
}

.itemComplete,
.itemDelete {
    flex: 1 1 15%;
    align-self: center;
}

.itemDate,
.itemFinishDate {
    flex:3 1 25%;
    align-self: center;
}
.itemTitle {
    flex: 2 1 20%;
    align-self: center;
}

#title span {
    background: url('./res/img/sort.png') no-repeat content-box right;
    background-size: 1rem;
}

#title span:hover {
    cursor: pointer;
    font-weight: bold;
}

#title span:last-child {
    background: inherit;
    border-radius: 0.5rem;
    cursor: inherit;
    font-weight: normal;
}

.contentWrap>input {
    background-color: rgba(207, 206, 206, 0.9);
    height: 1rem;
    text-align: center;
    font-size: 1.1rem;
}



input[type='checkbox'],
.itemDelete button {
    height: 1.5rem;
}

#syncDom {
    width: 70%;
    margin: 1rem auto;
    border-radius: 0.5rem;
    background-color: rgba(207, 206, 206, 0.82);
}

.pages {
    padding: 0 0.5rem;
    text-decoration-line: underline;
    background-color: rgba(207, 206, 206, 0.82);
    border-radius: 0.5rem;
}

.pages.active {
    text-decoration-line: none;
}

.pages:hover {
    cursor: pointer;
}

#filter * {
    background-color: rgba(207, 206, 206, 0.82);
    border-radius: 0.5rem;
    margin: 0.5rem;
}

#filter {
    margin-top: 1rem;
}