body {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 50rem;
}

#all {
  background-image: url('todoImg.jpeg');
  background-size: 100%;
  margin: 0 auto;
  width: 50%;
  border: 1px solid #cccccc;
  text-align: center;
}

main {
  position: relative;
}

main>button {
  width: 2em;
  height: 2em;
}

input {
  width: 50%;
  height: 2em;
  border-radius: 5em;
  padding-left: 1em;
  box-shadow: 0em 1em 1em #888888;
}

#prompt {
  position: absolute;
  top: -1.5em;
}

#complete {
  display: block;
  border-radius: 3em;
  width: 10em;
  margin: 1em auto;
}

table {
  margin: 1em auto;
  padding: 1em;
  font-size: 70%;
  table-layout: fixed;
  background-color: rgba(207, 206, 206, 0.562);
  box-shadow: 0em 1em 1em #888888;
}

td {
  border-bottom: 1px solid rgb(73, 73, 73);
}

#completeSelect {
  display: block;
  margin: 1em auto;
}

th,
tfoot {
  margin: 1em;
  color: rgb(102, 102, 102);
  font-size: 1.5em;
  border-bottom: 1px solid rgb(73, 73, 73);
}