body {
    display: flex;
    min-width: 800px;
    justify-content: center;
}

#all {
    flex: 0 0 80%;
    background-image: url('todoImg.jpeg');
    background-size: 100%;
    border: 1px solid #cccccc;
    text-align: center;
}

main {
    position: relative;
}

main>button {
    width: 2.5em;
    height: 2.5em;
    border-radius: 1em;
    margin-left: 1em;
}

#todoInput {
    width: 50%;
    height: 2em;
    border-radius: 5em;
    padding-left: 1em;
    box-shadow: 0em 1em 1em #888888;
}

#prompt {
    position: absolute;
    top: -1.5em;
}

#completeSelect {
    display: block;
    margin: 1em auto;
}

#title, .contentWrap{
    width: 70%;
    margin: 0 auto;
    display: flex;
    background-color: rgba(207, 206, 206, 0.7);
}
.itemComplete, .itemDate, .itemDelete, .itemFinishDate {
    flex: 1 1 0;
    align-self: center;
}

input.itemComplete {
    flex: 1 1 0;
}
.itemTitle {  
    flex: 1 1 20%;
    align-self: center;
}
input[type='checkbox'], .itemDelete button  {
    height: 1.5rem;
    width: 1.5rem;
}

#syncDom {
    width: 70%;
    margin: 1rem auto;
    background-color: rgba(207, 206, 206, 0.82);
}